<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="fluid-container">
  <div class="row">
    <div class="col-4">
         <h2 class="fa fa-university">MyBank</h2>
    </div>

    <div class="col-3 ml-5">
       <h3>MYB Online Banking</h3>
    </div>

    <div class="col-1 ml-3">
     
      </div>
      <div class="col-3">
          <a href="login" class="fa fa-sign-out"></a>
          <a  class="fa fa-facebook"></a>
          <a  class="fa fa-twitter"></a>
          <a  class="fa fa-whatsapp"></a>
          <a  class="fa fa-telegram"></a>
      </div>
  </div>
</div>
