<div class="row">
     
     <div class="col-3 mt-2 power ">
        <form class="form-inline active-cyan-3 active-cyan-4 mt-2">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
        </form>
         <div class="mt-2">
        <img class="power" src="assets/power.jpg" height="40%" width="40%" alt="Electricity bills"/><br>
         <button type="submit" class="btn btn-secondary mt-1">Pay your Electricity bill</button>
         </div>
     </div>

     <div class="col-3 mt-3 water ">

             <div class="">
            <img class="power" src="assets/water1.png" height="40%" width="40%" alt="Electricity bills"/><br>
             <button type="submit" class="btn btn-secondary mt-1">Pay your water bill</button>
             </div>
         </div>

         <div class="col-3 mt-3 dth ">

                <div class="">
               <img class="power" src="assets/dth.png" height="90%" width="90%" alt="Electricity bills"/><br>
                <button type="submit" class="btn btn-secondary mt-1">Pay your dth bill</button>
                </div>
            </div>

            <div class="col-3 mt-3 mbl ">

                    <div class="">
                   <img class="power" src="assets/phone.png" height="50%" width="50%" alt="Electricity bills"/><br>
                    <button type="submit" class="btn btn-secondary mt-1">Pay your mobile bill</button>
                    </div>
                </div>
</div>
<div class="row">

        <div class="col-3 mt-3 ml-2 emi">
                <div class="">
               <img class="power" src="assets/emi.jpg" height="90%" width="60%" alt="Electricity bills"/><br>
                <button type="submit" class="btn btn-secondary mt-1">Pay your monthly EMI</button>
                </div>
            </div>

            <div class="col-3 mt-3 ml-2 emi">
                <div class="">
               <img class="power" src="assets/paytm.jpg" height="45%" width="45%" alt="Electricity bills"/><br>
                <button type="submit" class="btn btn-secondary mt-1">Add money to Paytm</button><p></p>
                </div>
            </div>

            <div class="col-3 mt-3 ml-2 emi">
                <div class="">
               <img class="power" src="assets/credit.jpg" height="70%" width="60%" alt="Electricity bills"/><br>
                <button type="submit" class="btn btn-secondary mt-1">Pay credit card bill</button><p></p>
                </div>
            </div>

            <div class="col-2 mt-3 ml-2 emi">
                <div class="">
               <img class="power" src="assets/other.jpg" height="70%" width="70%" alt="Electricity bills"/><br>
                <button type="submit" class="btn btn-secondary mt-1">Other bills</button><p></p>
                </div>
            </div>

</div>
