<div class="row">
   <div class="col-3">

   </div>
   <div class="col-6">
     <div class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
          <th scope="col">Type</th>
        </tr>
      </thead>

      <tr>
        <th>21-dec-2018</th>
        <td>transfer to praveen</td>
        <td>500</td>
        <td class="text-danger">Credit</td>
      </tr>

      <tr>
        <th>19-dec-2018</th>
        <td>transfer to amith</td>
        <td>1650</td>
        <td class="text-danger">Credit</td>
      </tr>

      <tr>
        <th>18-dec-2018</th>
        <td>transfered by Suvidha</td>
        <td>1500</td>
        <td class="text-success">Debit</td>
      </tr>

      <tr>
        <th>16-dec-2018</th>
        <td>transfer to IRCTC</td>
        <td>345</td>
        <td class="text-danger">Credit</td>
      </tr>

      <tr>
        <th>15-dec-2018</th>
        <td>transfer to Southern Power distribution</td>
        <td>546</td>
        <td class="text-danger">Credit</td>
      </tr>

      <tr>
        <th>13-dec-2018</th>
        <td>transfered by Nagargun</td>
        <td>500</td>
        <td class="text-success">Debit</td>
      </tr>

      <tr>
        <th>13-dec-2018</th>
        <td>transfer to 770..** through Google Pay</td>
        <td>1500</td>
        <td class="text-danger">Credit</td>
      </tr>
     
      <tr>
        <th>12-dec-2018</th>
        <td>transfer to Paytm wallet 967..***</td>
        <td>600</td>
        <td class="text-danger">Credit</td>
      </tr>

      <tr >
        <th>9-dec-2018</th>
        <td>transfered by Sushmitha through Google Pay</td>
        <td>500</td>
        <td class="text-success">Debit</td>
      </tr>
     

     </div>
   </div>

   <div class="col-3 mt-4">
     <button type="submit" class="btn btn-info btn-sm">Print</button>
   </div>
</div>
