<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="row">
  <div class="col-1">

  </div>

  <div class="col-4">
    <nav class="navbar menu">
      <ul class="navbar-nav">

        <li class="nav-item light">
          <a class="nav-link" class="fa fa-credit-card" style="font-size:23px;color:indigo">Debit Card Hotlisting</a>
        </li>

        <li class="nav-item light">
          <a class="nav-link" style="font-size:25px;color:indigo">Manage Debit Card </a>
        </li>

        <li class="nav-item light">
          <a class="nav-link" style="font-size:25px;color:indigo">Standing Instruction </a>
        </li>

        <li class="nav-item light">
          <a class="nav-link" style="font-size:25px;color:indigo">MyBank Virtual Card </a>
        </li>

        <li class="nav-item light">
          <a class="nav-link" style="font-size:25px;color:indigo">Transaction Status Enquiry</a>
        </li>

        <li class="nav-item light">
          <a class="nav-link" style="font-size:25px;color:indigo">Transaction Limits & Charges </a>
        </li>



      </ul>
    </nav>

  </div>