<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="row">
  <div class="col-2">

  </div>
  <div class="col-4">
    <nav class="navbar menu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" class="fa fa-inr" style="font-size:25px;color:grey">Accounts Summary</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="javascript" uiSref="ministatement" class="fa fa-book" style="font-size:25px;color:grey">Mini Statement</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" class="fa fa-book" style="font-size:25px;color:grey">Passbook</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" class="fa fa-download" style="font-size:25px;color:grey">Download Statement</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" class="fa fa-close" style="font-size:25px;color:grey">Failed transactions</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" class="fa fa-check" style="font-size:25px;color:grey">Successful transactions</a>
            </li>

      </ul>
    </nav>
  </div>

</div>